html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt,
var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button, input, select, textarea {
	font-family: sans-serif;
	line-height: normal;
}

input, select {
	vertical-align: middle;
}

button[disabled], input[disabled] {
	cursor: default;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer; 
	overflow: visible;
   -webkit-appearance: button;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	margin: 0;
	overflow: auto;
	vertical-align: top;
	resize: none;	
}

video, img {
	max-width: 100%;
}

img {
	border: 0;
	vertical-align: top;
}

strong {
	color: #000000;
}

* {
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;	
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #666666;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #666666;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #666666;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #666666;
}



