
@import url("reset.css");
@import url("jquery.fancybox.css");

@font-face {
    font-family: 'PTSansRegular';
    src: url('../fonts/pt_sans_regular.eot');
    src: url('../fonts/pt_sans_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSansBold';
    src: url('../fonts/pt_sans_bold.eot');
    src: url('../fonts/pt_sans_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pt_sans_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rouble';
    src: url('../fonts/rouble.eot');
    src: url('../fonts/rouble.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rouble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VectorIcons';
    src: url('../fonts/VectorIcons-Regular.eot');
    src: url('../fonts/VectorIcons-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VectorIcons-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

::-webkit-input-placeholder {
    color: #777777;
}

:-moz-placeholder {
   color: #777777;
   opacity:  1;
}

::-moz-placeholder {
   color: #777777;
   opacity:  1;
}

:-ms-input-placeholder {
    color: #777777;
}

body {
	overflow-x: hidden;
	background: #09213d;
	font-family: 'PTSansRegular';
	font-size: 12px;
	line-height: 1.2;
	color: #ffffff;
	
   -webkit-text-size-adjust: none;	
}

*, *:before, *:after {
   -webkit-box-sizing: border-box; 
   -moz-box-sizing: border-box; 
	box-sizing: border-box;    
}

h1 {
	
}

h2 {
	font-size: 40px;
}
	
h1, h2, h3 {
	margin: 0px 0px 18px 0px;
	line-height: 1.2;
}	

p {
	margin: 0px 0px 18px 0px;
}
	
a {
	text-decoration: underline;
	color: #a9b6c6;		
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

img {
	max-height: 100%;
	display: inline-block;	
	vertical-align: middle;
}

hr { 
	border: 0; 
	height: 1px;
	margin: 30px 0px 30px 0px; 
	background: #2b3f58; 
}

input[type="text"], input[type="password"], textarea {
	padding: 12px 15px 12px 15px; 				
	border-width: 0px;
	 
   -moz-transition: all 0.15s ease-in;  
   -webkit-transition: all 0.15s ease-in; 	     
	transition: all 0.15s ease-in;   
}

input[type="text"], input[type="password"], select, textarea {
	font-family: 'PTSansRegular';
	font-size: 16px;	
	color: #09213d;
}

input.error {
	border: 3px solid #f33048 !important;	
}

section:after, 
.clear:after {
	height: 0; 
	clear: both; 
	content: ""; 
	display: block; 
	line-height: 0; 
	font-size: 0; 
}

section {
	margin: 0px 0px 50px 0px;
}

.fixed {
	position: fixed;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.align_left {
	float: left;
}

.align_right {
	float: right;
}

.align_center {
	text-align: center;
}


.button {
	height: 48px;
	position: relative;
	display: inline-block;
	vertical-align: middle;

	padding: 0px 20px 0px 20px;
	background: rgba(16,26,46,0.9);
	border-width: 0px;

	text-decoration: none !important;
	text-align: center;
	
	font-family: 'PTSansRegular';	
	font-size: 17px;

	cursor: pointer;
	line-height: 48px;
	color: #ffffff !important;   
}

.button:hover {
	background: rgba(31,52,76,0.9);
	color: #ffffff;
}

.button:before {
	display: inline-block;
	vertical-align: middle;	
	content: '';
}

.button.pink {
	background: rgba(250,50,73,1);
	background: -moz-linear-gradient(top, rgba(250,50,73,1) 0%, rgba(203,36,55,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,50,73,1)), color-stop(100%, rgba(203,36,55,1)));
	background: -webkit-linear-gradient(top, rgba(250,50,73,1) 0%, rgba(203,36,55,1) 100%);
	background: -o-linear-gradient(top, rgba(250,50,73,1) 0%, rgba(203,36,55,1) 100%);
	background: -ms-linear-gradient(top, rgba(250,50,73,1) 0%, rgba(203,36,55,1) 100%);
	background: linear-gradient(to bottom, rgba(250,50,73,1) 0%, rgba(203,36,55,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa3249', endColorstr='#cb2437', GradientType=0 );	
}

.button.pink:hover {
	background: rgba(203,36,55,1);
	background: -moz-linear-gradient(top, rgba(203,36,55,1) 0%, rgba(250,50,73,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,36,55,1)), color-stop(100%, rgba(250,50,73,1)));
	background: -webkit-linear-gradient(top, rgba(203,36,55,1) 0%, rgba(250,50,73,1) 100%);
	background: -o-linear-gradient(top, rgba(203,36,55,1) 0%, rgba(250,50,73,1) 100%);
	background: -ms-linear-gradient(top, rgba(203,36,55,1) 0%, rgba(250,50,73,1) 100%);
	background: linear-gradient(to bottom, rgba(203,36,55,1) 0%, rgba(250,50,73,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb2437', endColorstr='#fa3249', GradientType=0 );	
}

.button.auth:before {
	width: 49px;
	height: 23px;
	margin: -4px 10px 0px 0px;
	background: url('../images/auth_icon.png') no-repeat 0 0;
}

.button.retry:before {
	width: 17px;
	height: 17px;
	margin: 0px 10px 0px 0px;
	background: url('../images/retry_icon.png') no-repeat 0 0;
}

.button.sell:before {
	width: 17px;
	height: 17px;
	margin: 0px 10px 0px 0px;
	background: url('../images/coins_icon.png') no-repeat 0 0;
}

.button.steam {
	width: 100%;
	height: 43px;
	background: #09213d;
	text-decoration: underline !important;
	line-height: 43px;
	font-size: 16px;
}

.button.steam:hover {
	text-decoration: none !important;
}

.button.steam:before {
	display: none;
}

i.rub {
	position: relative;
	top: -2px;

	vertical-align: middle;
	font-family: 'rouble';
	font-style: normal;	
}

i.rub:before {
	content: 'q';
}

.pink {
	color: #eb3247;
}




/* main */

#main {
	min-width: 1280px;
    min-height: 100%;
    height: auto !important;
    height: 100%;

    position: relative;
    padding: 0px 20px 0px 20px;

    background: url("../images/page_bg.jpg") no-repeat 50% 0;
    background-size: contain;
}


#header, 
#content,
#footer {
	max-width: 1920px;
	margin: 0px auto;	
}




/* header */

#header {
	height: 295px;
	overflow: hidden;
	position: relative;
}




/* logo */

.logo {
	position: absolute;
	left: 0px; top: 100px;
}

.logo span {
	position: absolute;
	left: 102px; bottom: 10px;
	text-transform: uppercase;
	font-size: 15px;
	color: #fa324a;
}




/* vk_group */

.vk_group {
	position: absolute;
	left: 402px; top: 115px;
	padding: 7px 0px 7px 20px;
	border-left: 1px dotted #cf4941;
	font-size: 11px;
}

.vk_group .icon {
	width: 33px;
	height: 33px;
	display: inline-block;
	margin: 0px 7px 0px 0px;
	vertical-align: middle;
	background: url('../images/vk_icon.png') no-repeat 0 0;
}

.vk_group b {
	width: 70px;
	display: inline-block;
	vertical-align: middle;
}

.vk_group a {
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'PTSansBold';	
	color: #ffffff;
}

.vk_group a:hover {
	color: #ea3047;
}

.vk_group a:hover .icon {
	background-position: 0 100%;
}




/* menu */

.menu {
	position: absolute;
	right: -2px; top: 116px;
}

.menu .button {
	margin: 0px 2px 0px 0px;
	padding: 0px 25px 0px 25px;
}




/* live_drops */

.live_drops {
	width: 100%;
	position: absolute;
	left: 0px; top: 206px;
	padding: 0px 0px 0px 180px;
}

.live_drops .caption {
	width: 180px;
	height: 89px;
	position: absolute;
	left: 0px; top: 0px;
	padding: 11px 0px 0px 0px;
	background: #f0f0f0;
	text-align: center;
}

.live_drops .caption h3 {
	display: block;
	margin: 0px 0px 7px 0px;
	font-family: "PTSansBold";
	font-size: 26px;
	color: #011427;
}

.live_drops .caption .button {
	width: 160px;
	height: 30px;
	padding: 0px 10px 0px 10px;
	line-height: 30px;
	font-size: 16px;
}

.live_items {
	width: 300%;
}

.live_items .item {
	float: left;
	width: 109px;
	height: 89px;
	position: relative;
	margin: 0px 0px 0px 1px;
	border-bottom: 8px solid #193658;
	background: #ced2d6;
	text-align: center;

   -webkit-box-shadow: inset 0px 0px 15px 10px rgba(178,178,178,1);
   -moz-box-shadow: inset 0px 0px 15px 10px rgba(178,178,178,1);
	box-shadow: inset 0px 0px 15px 10px rgba(178,178,178,1);
}

.live_items .item img {
	top: 1px;
	position: relative;
	display: inline-block;
	vertical-align: middle;

   -moz-transition: all 0.15s ease-in;  
   -webkit-transition: all 0.15s ease-in; 	     
	transition: all 0.15s ease-in;   				
}

.live_items .item:before {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: ''
}

.live_items .item:hover img {
	top: -2px;
}

.live_items .item:hover .tooltip_item {
	display: block;
}




/* tooltip_item */

.tooltip_item {
	width: 129px;
	display: none;
	position: absolute;
	left: -10px; bottom: 81px;
	padding: 10px 10px 10px 10px;
	background: #101a2e;
	font-size: 14px;
	color: #ffffff;
}

.tooltip_item:before {
	width: 14px;
	height: 14px;
	position: absolute;
	left: 50%; bottom: -7px;
	margin: 0px 0px 0px -7px;
	background: #101a2e;
	content: '';

   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);  
    transform: rotate(45deg);		
}

.tooltip_item .image {
	height: 80px;
	display: block;
	margin: 0px 0px 0px 0px;
	font-size: 0px;
}

.tooltip_item .image:before {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.tooltip_item .image img {
	display: inline-block;
	vertical-align: middle;
}


.tooltip_item .description i {
	display: block;
	font-size: 16px;
	color: #eb3247;
}




/* content */

#content {
	padding-top: 30px;
}



/* breadcrumbs */

.breadcrumbs {
	padding: 12px 0px 33px 0px;
	font-size: 30px;
}

.breadcrumbs ul li {
	display: inline;
	margin: 0px 8px 0px 0px;
}

.breadcrumbs ul li:before {
	margin: 0px 8px 0px 0px;
	content: "»";
	color: #eb3247;
}

.breadcrumbs ul li:first-child:before {
	display: none;
}




/* heading */

.heading {
	margin: 0px 0px 30px 0px;
	text-align: center;
}

.heading h2 {
	position: relative;	
	margin: 0px 0px 0px 0px;
	display: inline-block;
	font-size: 40px;
}

.heading h2:before,
.heading h2:after {
	width: 115px;
	height: 2px;
	position: absolute;
	margin: 26px 0px 0px 0px;
	background: #eb3247;
	content: '';
}

.heading h2:before {
	left: -155px;
}

.heading h2:after {
	right: -155px;
}


/* assets */

.assets .item {
	float: left;
	width: 14.28%;
	padding: 10px 10px 10px 10px;
}

.assets .tile {
	display: block;	
	min-height: 228px;
	position: relative;
	padding: 0px 15px 15px 15px;

	border: 1px solid #193658;
	background: #0e2948;
	
	vertical-align: top;	
	text-align: center;
	text-decoration: none;

   -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
   -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);

   -moz-transition: all 0.15s ease-in;  
   -webkit-transition: all 0.15s ease-in; 	     
	transition: all 0.15s ease-in;   		
}

.assets .tile:hover {
	border-color: #b63333;

   -webkit-box-shadow: 0px 0px 15px 10px rgba(235,50,71,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(235,50,71,0.66);
	box-shadow: 0px 0px 15px 10px rgba(235,50,71,0.66);		
}

.assets .tile:hover .image {
	margin-top: -12px;
}

.assets .tile:hover .more {
	opacity: 1;
}

.assets .tile .image {
	height: 174px;
	display: block;
	position: relative;
	font-size: 0px;

   -moz-transition: all 0.15s ease-in;  
   -webkit-transition: all 0.15s ease-in; 	     
	transition: all 0.15s ease-in;   				
}

.assets .tile .image:before {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.assets .tile .image:after {
	width: 322px;
	height: 118px;
	position: absolute;
	left: 50%; bottom: -20px;
	margin: 0px 0px 0px -161px;
	background: url("../images/case_light.png") no-repeat 50% 50%;
	opacity: 0;
	content: ''
}

.assets .tile .image img {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	z-index: 1;

   -moz-transition: all 0.15s ease-in;  
   -webkit-transition: all 0.15s ease-in; 	     
	transition: all 0.15s ease-in;   					
}

.assets .tile .title {
	display: block;
	margin: 0px 0px 4px 0px;
	font-size: 18px;
	color: #eb3247;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;	
}

.assets .tile .price {
	font-size: 26px;
	color: #ffffff;
}

.assets .tile .price i {
	font-family: 'rouble';
	font-style: normal;
}

.assets .tile .price small {
	text-decoration: line-through;
	font-size: 16px;
	color: #6682a1;
}

.assets .tile .price > * {
	margin: 0px 3px 0px 3px;
}

.assets .tile .more {
	width: 100%;
	opacity: 0;
	position: absolute;
	bottom: -15px; left: 0px;
	font-size: 14px;
	color: #ffffff;

   -moz-transition: all 0.15s ease-in;  
   -webkit-transition: all 0.15s ease-in; 	     
	transition: all 0.15s ease-in;   				
}

.assets .tile .more i {
	display: inline-block;
	padding: 5px 19px 7px 19px;
	background: #eb3247;
}




/* disabled item */

.assets .tile .warning {
	width: 154px;
	position: absolute;
	left: 50%; top: 50%;
	margin: -22px 0px 0px -77px;
	padding: 10px 10px 10px 10px;
	background: #0d233e;
	font-size: 18px;
	color: #7f8d9c;
	z-index: 12;
}

.assets .tile.disabled {
	border: 1px solid #193658;
	cursor: default;
	
   -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
   -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.14);
}

.assets .tile.disabled:before {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px; top: 0px;
	background: rgba(9,33,61,0.7);
	content: '';
	z-index: 10;
}

.assets .tile.disabled .image {
	margin-top: 0px !important;
}

.assets .tile.disabled .image:after {
	display: none;
}

.assets .tile.disabled .more {
	opacity: 0 !important;
}




/* color schemes  */


.item.default:hover {
   -webkit-box-shadow: 0px 0px 15px 10px rgba(182,51,51,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(182,51,51,0.66);
	box-shadow: 0px 0px 15px 10px rgba(182,51,51,0.66);	
}

.item.default .more i {
	background: #b63333;
}

.item.secretive {
	border-color: #9b478c !important;
}

.tile.secretive:hover {
	border-color: #9b478c;
   -webkit-box-shadow: 0px 0px 15px 10px rgba(155,70,140,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(155,70,140,0.66);
	box-shadow: 0px 0px 15px 10px rgba(155,70,140,0.66);
}

.tile.secretive .more i {
	background-color: #9b478c;
}

.item.army {
	border-color: #4c5b98 !important;
}

.tile.army:hover {
	border-color: #4c5b98;
   -webkit-box-shadow: 0px 0px 15px 10px rgba(76,91,152,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(76,91,152,0.66);
	box-shadow: 0px 0px 15px 10px rgba(76,91,152,0.66);
}

.tile.army .more i {
	background-color: #4c5b98;
}

.item.prohibited {
	border-color: #714c9e !important;
}

.tile.prohibited:hover {
	border-color: #714c9e;
   -webkit-box-shadow: 0px 0px 15px 10px rgba(113,76,158,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(113,76,158,0.66);
	box-shadow: 0px 0px 15px 10px rgba(113,76,158,0.66);
}

.tile.prohibited .more i {
	background-color: #714c9e;
}

.item.casual {
	border-color: #4a999f !important;
}

.tile.casual:hover {
	border-color: #4a999f;
   -webkit-box-shadow: 0px 0px 15px 10px rgba(74,153,159,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(74,153,159,0.66);
	box-shadow: 0px 0px 15px 10px rgba(74,153,159,0.66);
}

.tile.casual .more i {
	background-color: #4a999f;
}

.item.industrial {
	border-color: #2f7faa !important;
}

.tile.industrial:hover {
	border-color: #2f7faa;
   -webkit-box-shadow: 0px 0px 15px 10px rgba(47,127,170,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(47,127,170,0.66);
	box-shadow: 0px 0px 15px 10px rgba(47,127,170,0.66);
}

.tile.industrial .more i {
	background-color: #2f7faa;
}

.item.basic {
	border-color: #b58a36 !important;
}

.tile.basic:hover {
	border-color: #b58a36;
   -webkit-box-shadow: 0px 0px 15px 10px rgba(181,138,54,0.66);
   -moz-box-shadow: 0px 0px 15px 10px rgba(181,138,54,0.66);
	box-shadow: 0px 0px 15px 10px rgba(181,138,54,0.66);
}

.tile.basic .more i {
	background-color: #b58a36;
}




.random_weapons {
	margin-left: -10px;
	margin-right: -10px;
}

.random_weapons .assets .image {
	margin-bottom: -27px;
}

.random_cases {
	margin-left: -10px;
	margin-right: -10px;
}

.random_cases .assets .tile {
	min-height: 322px;
}

.random_cases .assets .item {
	width: 20%;
}

.random_cases .assets .image {
	height: 230px;
	padding: 0px 10px 0px 10px;
}

.random_cases .assets .tile:hover .image:after {
	opacity: 1;
}




/* collection */

.collection .item {
	float: left;
	width: 135px;
	position: relative;
	margin: 0px 20px 20px 0px;	
	text-decoration: none;
}

.collection .item .image {
	height: 95px;
	display: block;
	overflow: hidden;
	position: relative;
	padding: 0px 15px 0px 15px;
	background: #dbdcdc;
	font-size: 0px;
}

.collection .item .image:before {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.collection .item .image:after {
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0px; bottom: -15px;
	background: url("../images/collection_item_bg.png") no-repeat 50% 50%;
	content: '';
}

.collection .item .image img {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	z-index: 1;

   -moz-transition: all 0.15s ease-in;  
   -webkit-transition: all 0.15s ease-in; 	     
	transition: all 0.15s ease-in;   	
}

.collection .item .title {
	display: block;
	padding: 6px 9px 6px 9px;
	background: #1d426b;
	white-space: nowrap;
	font-size: 12px;
	color: rgba(255,255,255,0.5);
}

.collection .item .title b {
	font-size: 14px;
	color: #ffffff;
}

.collection .item .title b,
.collection .item .title span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.collection .item:hover img {
	margin-top: -10px;
}

.collection.align_center {
	width: 930px;
	margin: 0px auto;
	text-align: left;
}

.collection.align_center .item {
	margin: 0px 10px 20px 10px;
}


.collection .icons {
	position: absolute;
	right: 0px; top: -3px;
	font-size: 0px;
	z-index: 10;
}

.collection .icons b {
	height: 23px;
	min-width: 24px;
	margin: 0px 1px 0px 1px;
	padding: 0px 4px 0px 4px;
	
	position: relative;
	display: inline-block;
	vertical-align: middle;
	background: #ffffff;
	
	text-align: center;
	line-height: 23px;
	font-size: 12px;


   -webkit-border-radius: 3px;     
   -moz-border-radius: 3px;	   
	border-radius: 3px;		
}

.collection .icons .rub {
	top: -1px;
}

.collection .icons .price {
	color: #eb3247;
}

.collection .icons .price .rub {
	margin: 0px 0px 0px -2px;
}

.collection .icons .currency {
	background: #63a306;
	font-size: 16px;
	color: #ffffff;
}

.collection .icons .views {
	background: #1d426b url("../images/view_icon.png") no-repeat 50% 50%;
}

.collection .icons .downloads {
	background: #f9324a url("../images/download_icon.png") no-repeat 50% 50%;;
}

.collection .takeaway {
	width: 100%;
	position: absolute;
	left: 0px; bottom: 43px;
	padding: 6px 3px 9px 3px;
	background: rgba(255,255,255,0.5);
	text-decoration: underline;
	text-align: center;
	z-index: 10;
	font-size: 16px;
	color: #eb3247;

}




/* collection color scheme */

.collection .item.type_1 .title {
	background: #983030;
}

.collection .item.type_2 .title {
	background: #7b3b70;
}

.collection .item.type_3 .title {
	background: #3b4872;
}

.collection .item.type_4 .title {
	background: #2c666a;
}

.collection .item.type_5 .title {
	background: #2f6989;
}

.collection .item.type_6 .title {
	background: #9b7c43;
}

.collection .item.type_7 .title {
	background: #4f3b72;
}




/* reward */

.reward {
	margin: 0px 0px 40px 0px;
	text-align: center;
	font-size: 14px;
}

.reward h2 {
	margin: 6px 0px 0px 0px;
	font-size: 35px;
}

.reward h3 {
	margin: 0px 0px 0px 0px;	
	font-size: 25px;
}

.reward .item {
	position: relative;	
	margin: 0px 0px -14px 0px;
	background: url('../images/prize_light.png') no-repeat 50% 50%;
}

.reward .item:before {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0; top: 0;
	background: url('../images/prize_bg.png') no-repeat 50% 50%;	
	content: '';
}

.reward .item .image {
	height: 230px;
	font-size: 0px;
}

.reward .item .image:before {
	width: 0px;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	content: '';
}

.reward .item .image img {
	display: inline-block;
	vertical-align: middle;
}

.reward .actions {
	margin: 0px 0px 8px 0px;
}

.reward .actions a {
	display: inline-block;
	margin: 0px 3px 0px 3px;
}




/* stats_pane */

.stats_pane {
	position: relative;
	padding: 80px 0px 90px 0px;
	text-align: center;
	z-index: 10;
}

.stats_pane:before {
	width: 300%;
	height: 100%;
	position: absolute;	
	left: -100%; top: 0px;
	border-top: 1px solid #284668;
	background: #0e2948 url('../images/stats_pane_bg.png') no-repeat 50% -1px;
	content: '';
	z-index: -1;

   -webkit-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
   -moz-box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.1);	
}

.stats_pane ul li {
	display: inline-block;
	vertical-align: top;
}

.stats_pane ul li {
	padding: 0px 70px 0px 70px;
	border-left: 1px dotted #cf4941;
	font-size: 26px;
	color: #cf4941;
}

.stats_pane ul li:first-child {
	border-left: 0px;
}

.stats_pane ul li b {
	display: block;
	margin: 0px 0px 3px 0px;
	font-family: 'PTSansBold';
	font-size: 50px;
	color: #ffffff;
}




/* about_site */

.about_site {
	position: relative;
	margin-top: -50px;
	padding: 40px 0px 48px 0px;
	background: #0f2642;
	text-align: center;
}

.about_site:before {
	width: 300%;
	height: 100%;
	position: absolute;	
	left: -100%; top: -1px;
	background: #0f2642;
	content: '';
	z-index: -1;
}




/* text_block */

.text_block {
	width: 58%;
	display: inline-block;
	line-height: 1.33;
	font-size: 14px;
	color: #ffffff;	
}

.text_block h1 {
	font-size: 24px;
}

.text_block .read_more {
	position: relative;
}

.text_block .read_more:after {
	position: absolute;
	right: -15px;
	color: #eb3247;
	content: "»";
}


.balance_warning {
	margin: 0px 0px 6px 0px;
	font-size: 16px;
	color: #eb3247;
}

.trade_link_warning {
	padding: 16px 60px 15px 20px;
	font-size: 20px;
	color: #ffffff;
}

.loading_warning {
	min-width: 243px;
	display: inline-block;
	padding: 8px 5px 11px 5px;
	border: 1px solid #ffffff;
	font-size: 18px;
}



/* profile */

.profile .steps {
	margin: 0px 0px 45px 0px;
}

.profile .steps ul {
	margin: 0px 0px 0px -40px;
}

.profile .steps li {
	width: 250px;
	position: relative;	
	display: inline-block;
	margin: 0px 0px 0px 40px;
	padding: 0px 0px 0px 91px;
	font-size: 14px;
	opacity: 0.15;
}

.profile .steps li i {
	position: absolute;
	left: 0px; top: -15px;
	line-height: 140px;
	font-size: 140px;
}

.profile .steps li b {
	display: block;
	margin: 0px 0px 10px 0px;
	font-size: 28px;
}

.profile .steps li u {
	text-decoration: none;
}

.profile .steps li.active {
	opacity: 1;
}

.profile .steps li.completed {
	color: #eb3247;	
	opacity: 1;
}

.profile .steps li.completed a {
	color: #eb3247;
}


.left_pane {
	float: left;
	width: 225px;
	margin: 0px 60px 0px 0px;
}

.right_pane {
	overflow: hidden;
}




/* userCard */

.userCard {
	padding: 19px 19px 19px 19px;
	border: 1px solid #1e3e63;
	background: #0e2948;	
	font-size: 18px;
}

.userCard .avatar {
	margin: 0px 0px 16px 0px;
	border: 3px solid #ffffff;
}

.userCard .nickname {
	margin: 0px 0px 9px 0px;	
}

.userCard .balance {
	margin: 0px 0px 5px 0px;
}

.userCard .balance b {
	color: #b5d0d4;
}

.userCard .refill_pane {
	margin: 0px 0px 20px 0px;
}

.userCard .refill_pane .button {
	width: 40px;
	padding: 0px 0px 0px 0px;	
}

.userCard .refill_pane .button:before {
	font-size: 34px;
	content: '+';
}

.userCard .stat_points {
	font-size: 18px;	
	color: #9babbe;	
}

.userCard .stat_points .col {
	float: left;
	width: 50%;
	text-align: center;
}

.userCard .stat_points .col b {
	display: block;
	text-align: center;
	font-family: 'PTSansBold';
	font-size: 20px;
	color: #ffffff;
}




/* userCard mini */

.userCard.mini {
	position: relative;
	left: 0px; top: -40px;
	padding: 6px 62px 10px 50px;

	display: inline-block;
	vertical-align: top;

	border-width: 0px;
	background: #201d2f;	
	font-size: 16px;
}

.userCard.mini .avatar {
	width: 31px;
	position: absolute;
	left: 10px; top: 10px;
	border-width: 1px;
}

.userCard.mini .nickname {
	margin: 0px 0px 1px 0px;	
}

.userCard.mini .balance {
	margin: 0px 0px 4px 0px;
}

.userCard.mini .balance b {
	color: #b5d0d4;
}

.userCard.mini .refill_pane {
	margin: 0px 0px 0px 0px;
}

.userCard.mini .refill_pane input {
	width: 90px;
	height: 27px;
	padding: 2px 15px 2px 15px; 
	font-size: 14px;
}

.userCard.mini .refill_pane .button {
	width: auto;
	height: 27px;
	padding: 0px 10px 0px 10px;	
	line-height: 27px;
	font-size: 14px;
}

.userCard.mini .refill_pane .button:before {
	display: none;
}

.userCard.mini .logout {
	position: absolute;
	right: 15px; top: 8px;
	font-size: 14px;
}




/* conditions */

.conditions {
	font-size: 14px;
}

.conditions h2 {
	margin: 0px 0px 36px 0px;	
	font-size: 40px;
}

.conditions h3 {
	margin: 0px 0px 6px 0px;
	font-size: 20px;
	color: #eb3247;
}

.conditions .col {
	float: left;
	width: 500px;
	margin: 0px 30px 0px 0px;
}




/* pedestal */

.pedestal {
	margin: 0px 0px -20px 0px;
	padding: 40px 0px 0px 0px;
	text-align: center;
}

.pedestal .userCard {
	width: 265px;
	position: relative;
	display: inline-block;
	margin: 0px 13px 0px 13px;
	padding: 40px 19px 32px 19px;
}

.pedestal .userCard:before {
	width: 100%;
	height: 71px;
	position: absolute;
	left: 0px; top: -37px;
	background: url('../images/medals.png');
	background-repeat: no-repeat;
	line-height: 71px;
	font-size: 30px;
	color: #09213d;
	content: '1';
}

.pedestal .userCard .avatar {
	display: inline-block;
	margin: 0px 0px 24px 0px;
}

.pedestal .userCard .nickname {
	font-size: 25px;
}

.pedestal .userCard.gold .avatar {
	width: 184px;
}

.pedestal .userCard.gold:before {
	background-position: 50% 0;
	content: '1';
}

.pedestal .userCard.silver .avatar {
	width: 144px;
}

.pedestal .userCard.silver:before {
	background-position: 50% 50%;
	content: '2';	
}

.pedestal .userCard.bronze .avatar {
	width: 104px;
}

.pedestal .userCard.bronze:before {
	background-position: 50% 100%;
	content: '3';	
}




/* top_players */

.top_players table {
	width: 100%;
	font-size: 18px;
}

.top_players table th {
	text-align: left;
}

.top_players table th,
.top_players table td {
	padding: 16px 20px 16px 20px;
}

.top_players table td {
	background: #0e2948;
}

.top_players table tr:nth-child(even) td {
	background: #071c34;
}

.top_players table td img {
	margin: 0px 10px 0px 0px;
}




/* trade_settings */

.trade_settings {
	margin: -12px 0px 0px 0px;
	text-align: center;
	font-size: 16px;
}

.trade_settings .textfield {
	display: inline-block;
	margin: 6px 0px 0px 0px;
}

.trade_settings input {
	width: 486px;
	height: 43px;
}

.trade_settings .button {
	width: 143px;
}




/* refill_pane */

.refill_pane input {
	width: 145px;
}




/* textfield */

.textfield {
	font-size: 0px;
}

.textfield input {
	height: 43px;
}

.textfield .button {
	height: 43px;
	line-height: 41px;
}




/* wizard */

.wizard {
	margin: 0px 0px 20px 0px;
}

.wizard .trade_settings {
	margin: 0px 0px 0px 0px;
	text-align: left;
}

.recharge .rub {
	margin: 0px 25px 0px 5px;
	font-size: 30px;
	color: #6682a1;
}

.recharge .notice {
	font-size: 18px;	
	color: #6682a1;
}

.recharge .notice h3 {
	margin: 20px 0px 0px 0px;
	text-transform: uppercase;
	color: #eb3247;
}

.recharge input {
	width: 88px;
}

.recharge .button {
	width: 143px;
}


.recharge.popup {
	padding: 40px 40px 40px 40px;
	text-align: center;
}

.recharge.popup h2 {
	color: #ffffff;
}

.recharge.popup p {
	margin: 0px 0px 0px 0px;
}

.recharge.popup .notice {
	padding: 7px 0px 0px 0px;
}

.recharge.popup .notice h3 {
	color: #6682a1;
}




/* footer */

#footer {
	padding: 0px 0px 48px 0px;
}

#footer h3 {
	font-size: 16px;
}


/* copyrights */

.copyrights {
	float: left;
	width: 46%;
	font-size: 16px;
}

.badges {
	margin: 20px 0px 0px 0px;
}


/* contacts */

.contacts {
	float: left;
	width: 24%;
	margin: 0px 0px 10px 0px;
	font-size: 16px;
}

.contacts ul li {
	display: inline-block;
	margin: 0px 38px 8px 0px;
}

.contacts .icon {
	width: 22px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
	background-image: url("../images/circular_icons.png");
	background-repeat: no-repeat;		
}

.contacts .icon.faq {
	background-position: 0 0;
}

.contacts .icon.vk {
	background-position: -22px 0;
}

.contacts .icon.mail {
	background-position: -44px 0;
}


/* payment_systems */

.payment_systems {
	float: left;
	width: 30%;	
}

.payment_systems .row {
	display: block;
}

.payment_systems .icon {
	height: 26px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 13px 2px 0px;
}

.payment_systems .icon:hover:before {
	top: -26px;
}

.payment_systems .icon:before {
	height: 52px;
	display: block;
	position: relative;
	background-image: url("../images/payment_icons.png");
	background-repeat: no-repeat;
	content: '';
}

.payment_systems .icon.mobile {
	width: 15px;
}

.payment_systems .icon.mobile:before {
	background-position: 0 0;
}

.payment_systems .icon.visa {
	width: 46px;
}

.payment_systems .icon.visa:before {
	background-position: -25px 0;
}

.payment_systems .icon.mastercard {
	width: 36px;
}

.payment_systems .icon.mastercard:before {
	background-position: -81px 0;
}

.payment_systems .icon.webmoney {
	width: 22px;
}

.payment_systems .icon.webmoney:before {
	background-position: -127px 0;
}

.payment_systems .icon.qiwiwallet {
	width: 53px;
}

.payment_systems .icon.qiwiwallet:before {
	background-position: -159px 0;
}

.payment_systems .icon.yandexmoney {
	width: 20px;
}

.payment_systems .icon.yandexmoney:before {
	background-position: -222px 0;
}

.payment_systems .icon.evroset {
	width: 77px;
}

.payment_systems .icon.evroset:before {
	background-position: -252px 0;
}

.payment_systems .icon.svjaznoy {
	width: 77px;
}

.payment_systems .icon.svjaznoy:before {
	background-position: -339px 0;
}	




/* fold */

.fold {
	position: relative;
	margin: 0px 0px 30px 0px;
	padding: 25px 0px 30px 0px;
	text-align: center;
	z-index: 100;
}

.fold:before {
	width: 300%;
	height: 100%;
	position: absolute;	
	left: -100%; top: 0px;
	border: 1px solid #284668;
	border-width: 1px 0px 1px 0px;	
	background: url("../images/faq_bg.png");
	content: '';
	z-index: -1;
}




/* benefits */

.benefits {
	margin: 50px 0px 30px 0px;
	padding: 110px 0px 0px 0px;
	font-size: 14px;
}

.benefits .column {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}

.benefits .column h2 {
	height: 57px;
	position: relative;
	margin: 0px 0px 27px 0px;
	padding: 24px 0px 0px 0px;
	text-transform: uppercase;
	font-size: 18px;
	color: #f93149;
}

.benefits .column h2:after {
	width: 100%;
	height: 57px;
	position: absolute;
	left: 0px; bottom: 0px;
	background: url("../images/faq_ribbon.png") no-repeat 50% 0;
	content: '';
}

.benefits .column h2:before {
	width: 106px;
	height: 125px;
	position: absolute;
	left: 50%; bottom: 35px;
	margin: 0px 0px 0px -53px;
	background-image: url("../images/faq_icons.png");
	background-repeat: no-repeat;
	content: '';
}

.benefits .column.safety h2:before {
	background-position: 0 0;	
}

.benefits .column h2 i {
	position: relative;
	font-style: normal;
	z-index: 1;
}

.benefits .column.quality {
	margin: 0px 150px 0px 150px;
}

.benefits .column.quality h2:before {
	background-position: 50% 0;	
}

.benefits .column.speed h2:before {
	background-position: 100% 0;	
}




/* screens */

.screens {
	margin: 45px 0px 45px 0px;
}

.screens h3 {
	margin: 0px 0px 24px 0px;
	font-size: 23px;
}

.screens .shot {
	width: 280px;
	min-height: 330px;
	margin: 0px 8px 0px 8px;
	padding: 20px 10px 20px 10px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #1e3e63;
	background: #09213d;
	font-size: 16px;
}

.screens .shot p {
	margin: 10px 0px 0px 0px;
}




/* collapser */

.collapser {
	cursor: pointer;
	position: relative;
	border-bottom: 1px dashed #ffffff;
	font-size: 23px;
}

.collapser:before,
.collapser:after {
	width: 9px;
	height: 29px;
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	background: url("../images/arrow_up.png") no-repeat 0 0;
	content: '';
}

.collapser:before {
	left: -29px;
}

.collapser:after {
	right: -23px;
}




/* faq */

.faq dl dt {
	position: relative;
	margin: 0px 0px 16px 15px;
}

.faq dl dt u {
	border-bottom: 1px dashed #ffffff;
	text-decoration: none;
	cursor: pointer;
	font-size: 18px;
}

.faq dl dt u:before {
	position: absolute;
	left: -15px; bottom: 0px;
	margin: 0px 5px 0px 0px;
	color: #ea3048;
	content: "»";	
}

.faq dl dd {
	display: none;
	margin: 0px 0px 16px 15px;
	padding: 25px 30px 25px 30px;
	background: #041830;	
	font-size: 16px;
}

.faq dl dd p {
	margin: 0px 0px 0px 0px;
}


.faq dl dt.active u {
	border-width: 0px;
	color: #ea3048;
}

.faq dl dd.active {
	display: block;
}




/* faq_warning */

.faq_warning {
	margin: 40px 0px 0px 0px;
	padding: 0px 0px 0px 68px;
	background: url("../images/warning_icon.png") no-repeat 0 6px;
	font-size: 16px;
}

.faq_warning h2 {
	margin: 0px 0px 5px 0px;
	font-size: 26px;
	color: #eb3247;
}

.faq_warning p {
	margin: 0px 0px 0px 0px;
}



@media only screen and (min-width: 1440px) {
	
	#main {
	    padding: 0px 60px 0px 60px;
	}

	.menu .button {
		padding: 0px 40px 0px 40px;
	}

	#footer h3 {
		font-size: 18px;
	}

	.text_block {
		font-size: 18px;
	}

	.text_block h1 {
		font-size: 30px;
	}

	.copyrights {
		font-size: 20px;
	}

	.benefits {
		font-size: 16px;
	}

	.benefits .column {
		width: 380px;
	}	
	
}

@media only screen and (min-width: 1680px) {
	
	#main {
	    padding: 0px 100px 0px 100px;
	}

}

